<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ice Breaker</title>
    <link rel="stylesheet" href="stylesht.css" crossorigin="anonymous">
    <link rel="stylesheet" href="bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="design.css" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Ice Breaker</h1>

    <div class="jumbotron">
        <h3>Add New Player:</h3>
        <form id="issueInputForm" method="POST" action="questions">
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-lg-12">
        <div id="issuesList">
        </div>
    </div>
    <!--<div class="footer">
        <p>&copy <a href="http://codingthesmartway.com" target="_blank">CodingTheSmartWay.com</a> | <a href="http://codingthesmartway.com/imprint" target="_blank">Imprint</a></p>
    </div>-->
</div>
<script src="chance.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="main.js"></script>
</body>
</html>