<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ice Breaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesht.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='design.css') }}" crossorigin="anonymous">

</head>
<body>
<div class="container3">

    <h4>Time left</h4>
    <div id="clockdiv">
        <div>
            <span class="minutes" id="minute"></span>
            <div class="smalltext">Minutes</div>
        </div>
        <div>
            <span class="seconds" id="second"></span>
            <div class="smalltext">Seconds</div>
        </div>
    </div>


    <h4>Questions (answered / left)</h4>
    <input id = "textbox4" type = "text" name = "answer4" readonly></p>

    <h4>Question:</h4>
    <input id = "textbox1" type = "text" name = "answer1" readonly>

    <h4>Person to ask:</h4>
    <input id = "textbox2" type = "text" name = "answer2" readonly> </p>

    <h4>Answer:</h4>
    <input id = "textbox3" type = "text" name = "answer3"> </p>

    <input id = "button" type = "button" value = "Submit">
    <script type="text/javascript" src="{{ url_for('static', filename='PersonalPageListener.js') }}">PersonalPageListener()</script>

</div>
</body>
</html>