<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Questions for you to answer before entering the game:</title>
    <link rel="stylesheet" href="stylesht.css" crossorigin="anonymous">

</head>

<body>

<div class="container2">
<form id = "quiz" name = "quiz">


    <p class = "questions">What is your favorite hobby?</p>
    <input id = "textbox1" type = "text" name = "question1">

    <p class = "questions">What would be your dream job?</p>
    <input id = "textbox2" type = "text" name = "question2">

    <p class = "questions">What is the name of a country that you would like to go to for a vacation?</p>
    <input id = "textbox3" type = "text" name = "question3">

    <p class = "questions">What is your favorite sport or physical activity?</p>
    <input id = "textbox4" type = "text" name = "question4">

    <p class = "questions">What is your favorite movie?</p>
    <input id = "textbox5" type = "text" name = "question5">

    <p class = "questions">Who is someone you really admire?</p>
    <input id = "textbox6" type = "text" name = "question6">

    <p class = "questions">What is your favourite food?</p>
    <input id = "textbox7" type = "text" name = "question7">

    <p class = "questions">What is your favourite app?</p>
    <input id = "textbox8" type = "text" name = "question8">

    <p class = "questions">What is your go-to meal after a night out?</p>
    <input id = "textbox9" type = "text" name = "question9"><br><br>



    <input id = "button" type = "button" value = "I'm finished!" onclick = "check();">


</form>

</div>
</html>

</body>
